<%= form_tag("/songs") do %>
    <label>Title:</label>
    <input name="song[title]">

    <label>Artist:</label>
    <input name="song[artist]">

    <label>Genres:</label>
    <select name="genres">
    <% Genre.all.each do |genre| %>
        <option value=<%= genre.id %>> <%= genre.title %> </option>
    <% end %>


    <input type="submit">
<% end %>
